.nav {
    position: relative;

    .backimg {
        position: absolute;
        left: -258px;
        top: -262px;
        z-index: -1;
        height: 726px;
        width: 726px;
        border-radius: 0;

    }

    .block_li {
        display: inline-block;
        padding-left: 10px;
    }
    
    ul {
        margin: 160px 0 0 0;
        padding: 0;
    }

    li {
        list-style-type: none;
        padding-bottom: 60px;
        font-size: 25px;
        font-family: "Comfortaa", cursive;
        font-weight: 400;

        a {
            text-decoration: none;
            color: $purple;
            display: inline-block;
            vertical-align: middle;
        }
    }
}
