.nav {
    position: relative;

    .backimg {
        position: absolute;
        left: -258px;
        top: -262px;
        z-index: -1;
        height: 726px;
        width: 726px;
        border-radius: 0;

    }

    .block_li {
        display: inline-block;
        padding-left: 10px;
    }

    .li_line {
        width: 72px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        border: 2px solid rgba(121, 110, 159, 1);
        display: inline-block;
        vertical-align: middle;

    }

    ul {
        margin: 160px 0 0 0;
        padding: 0;
    }

    li {
        list-style-type: none;
        padding-bottom: 60px;
        font-size: 25px;
        font-family: "Comfortaa", cursive;
        font-weight: 400;

        a {
            text-decoration: none;
            color: $purple;
            display: inline-block;
            vertical-align: middle;
        }
    }
}
