@import url(https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap);
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover,
a:active,
a {
  color: #4A1379;
}

body {
  font-family: "Comfortaa", cursive;
}

.none {
  display: none;
}

.container {
  width: 100%;
}

.header {
  padding: 1.2rem 0 0 0;
  z-index: 10;
  background-color: #FFFFFF;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user {
  display: flex;
}

.user__avatar {
  padding: 0 0 0 70px;
}
.user__avatar .logo {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  z-index: 10;
}

.user__content {
  padding-left: 14px;
  font-weight: Bold;
  color: #4A1379;
  margin-left: 12px;
}

.user__name {
  font-size: 24px;
  line-height: 18px;
  margin-top: 10px;
  margin-bottom: 13px;
  font-weight: bold;
}

.user__content {
  font-size: 15px;
}

.contact {
  display: flex;
}
.contact .social__link {
  margin-left: 32px;
}
.contact .social__link img {
  width: 40px;
  height: 40px;
  transition: all 0.5s ease;
}
.contact .social__link img:hover {
  opacity: 0.7;
}
.contact .language {
  text-align: center;
  margin-top: -5px;
}
.contact .language .ru {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 29px;
  font-family: "Comfortaa", cursive;
  font-weight: bold;
  color: #796E9F;
  background-color: #FFFFFF;
  border: 2px solid #796E9F;
  border-radius: 7px;
  margin: auto;
}
.contact .language .eng {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px 32px 0 32px;
  width: 43px;
  height: 29px;
  font-family: "Comfortaa", cursive;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #796E9F;
  border: none;
  border-radius: 7px;
}
.contact .btn {
  background-color: #796E9F;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  width: 190px;
  height: 62px;
  margin-top: -7px;
  margin-right: 50px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Comfortaa", cursive;
  color: #FFFFFF;
}

.line {
  margin-top: 23px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: 2px solid #796e9f;
}

.content {
  display: flex;
  justify-content: space-between;
}

.nav {
  position: relative;
}
.nav .backimg {
  position: absolute;
  left: -258px;
  top: -262px;
  z-index: -1;
  height: 726px;
  width: 726px;
  border-radius: 0;
}
.nav .block_li {
  display: inline-block;
  padding-left: 10px;
}
.nav .li_line {
  width: 72px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: 2px solid #796e9f;
  display: inline-block;
  vertical-align: middle;
}
.nav ul {
  margin: 160px 0 0 0;
  padding: 0;
}
.nav li {
  list-style-type: none;
  padding-bottom: 60px;
  font-size: 25px;
  font-family: "Comfortaa", cursive;
  font-weight: 400;
}
.nav li a {
  text-decoration: none;
  color: #796E9F;
  display: inline-block;
  vertical-align: middle;
}

.intro {
  margin: 107px 0 0 0;
  text-align: center;
}
.intro h1 {
  font-size: 79px;
  color: #4A1379;
  padding: 0;
  margin: 40px 0 5px 0;
}
.intro h2 {
  padding: 0;
  margin: 25px 0 60px 0;
  font-size: 51px;
  color: #4A1379;
}
.intro .get {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Comfortaa", cursive;
  background-color: #4A1379;
  border: none;
  border-radius: 20px;
  width: 240px;
  height: 70px;
  color: #FFFFFF;
  margin-top: -7px;
  font-weight: bold;
  font-size: 25px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.intro .read {
  font-family: "Comfortaa", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #796E9F;
  border: none;
  border-radius: 20px;
  width: 240px;
  height: 70px;
  color: #FFFFFF;
  margin-top: 25px;
  font-weight: bold;
  font-size: 25px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.pictures {
  position: relative;
  margin-top: 35px;
}
.pictures .css {
  position: absolute;
  width: 60px;
  right: 487px;
  bottom: 254px;
}
.pictures .html {
  position: absolute;
  width: 60px;
  right: 513px;
  bottom: 417px;
}
.pictures .js {
  position: absolute;
  width: 60px;
  left: 63px;
  bottom: 368px;
}
.pictures .sql {
  position: absolute;
  width: 60px;
  left: 80px;
  bottom: 466px;
}
.pictures .cms {
  position: absolute;
  width: 60px;
  left: 80px;
  bottom: 466px;
}
.pictures .comp {
  width: 500px;
  z-index: 1;
}
.pictures .backimg {
  position: fixed;
  height: 1063px;
  width: 1074px;
  left: 878px;
  top: 226px;
  border-radius: 0;
}

.feedback {
  display: flex;
  justify-content: space-between;
  margin: 50px 50px 10px 0;
  color: #4A1379;
}
.feedback .nav ul {
  margin: 0;
}
.feedback p {
  margin-top: 10px;
}

.form {
  margin-top: 10px;
}
.form form {
  padding: 30px 30px 6px 30px;
  border: 3px solid #796E9F;
  border-radius: 5px;
  background-clip: padding-box;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.form textarea {
  resize: vertical;
  width: 100%;
  height: 110px;
  border: 3px solid #796E9F;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-clip: padding-box;
  display: block;
  font-family: "Comfortaa", cursive;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  padding-top: 12px;
  margin-bottom: 20px;
  overflow: hidden;
}
.form input {
  width: 100%;
  height: 48px;
  border: 3px solid #796E9F;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-clip: padding-box;
  display: block;
  font-family: "Comfortaa", cursive;
  font-size: 18px;
  font-weight: 300;
  color: #796E9F;
  margin-bottom: 20px;
}
.form input[type=submit] {
  cursor: pointer;
}
.form input.name {
  padding-left: 25px;
}
.form input.email {
  padding-left: 25px;
}
.form input.message {
  padding-left: 25px;
}
.form ::-moz-placeholder {
  color: #796E9F;
  padding-left: 10px;
}
.form :-ms-input-placeholder {
  color: #796E9F;
  padding-left: 10px;
}
.form ::placeholder {
  color: #796E9F;
  padding-left: 10px;
}
.form input:focus, .form textarea:focus {
  outline: none;
  border: 3px solid #4A1379;
  padding-left: 10px;
}
.form .btn:hover {
  border: 1px solid #253737;
  text-shadow: #333333 0 1px 0;
  background: #416b68;
  background: -webkit-linear-gradient(top, #77b2b0, #416b68);
  background-image: -ms-linear-gradient(top, #77b2b0 0%, #416b68 100%);
  color: #fff;
}
.form .btn:active {
  margin-top: 1px;
  text-shadow: #333333 0 -1px 0;
  border: 1px solid #333333;
  background: #ffCC00;
  background: -webkit-linear-gradient(top, #ffcc00, #ff6600);
  background-image: -ms-linear-gradient(top, #ffcc00 0%, #ff6600 100%);
  color: #fff;
  outline: none;
}

.form_button {
  background-color: #796E9F;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  width: 190px;
  height: 62px;
  margin-top: -7px;
  margin-right: 50px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Comfortaa", cursive;
  color: #FFFFFF;
}

.feedback_contact div {
  margin-top: 10px;
}
.feedback_contact img {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}
.feedback_contact span {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.dnd_block {
  justify-content: center;
  margin-bottom: 20px;
}
.dnd_block .drag-and-drop {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 200px;
  border: 3px dotted #b8b8b8;
  border-radius: 15px;
  background: #f3f3f3;
  opacity: 0.4;
  text-align: center;
  font-size: 20px;
}
.dnd_block .drag-and-drop.active {
  border-color: cornflowerblue;
  background: #dae2ff;
}

.drag-and-drop-title {
  pointer-events: none;
}

.images-list {
  display: flex;
  width: 100px;
  margin: 10px 0 0 0;
  position: relative;
  padding-left: 0;
}
.images-list .btn_close_x {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
.images-list .images-list-picture {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 15px;
  margin: 0 10px 0 0;
  border: 1px solid #b8b8b8;
}

.upload-btn {
  font-size: 20px;
  margin: 10px 0;
}

.avatar {
  display: none;
}

#upload {
  display: none;
}

.burger {
  width: 30px;
  height: 30px;
  position: relative;
  transition: 0.1s;
  cursor: pointer;
}
.burger span {
  width: 5px;
  height: 5px;
  background-color: #796E9F;
  display: block;
  border-radius: 50%;
  position: absolute;
}

.burger:hover span {
  transform: scale(1.2);
  transition: 350ms cubic-bezier(0.8, 0.5, 0.2, 1.4);
}

.burger span:nth-child(1) {
  left: 0;
  top: 0;
}

.burger span:nth-child(2) {
  left: 12px;
  top: 0;
}

.burger span:nth-child(3) {
  right: 0;
  top: 0;
}

.burger span:nth-child(4) {
  left: 0;
  top: 12px;
}

.burger span:nth-child(5) {
  position: absolute;
  left: 12px;
  top: 12px;
}

.burger span:nth-child(6) {
  right: 0;
  top: 12px;
}

.burger span:nth-child(7) {
  left: 0;
  bottom: 0;
}

.burger span:nth-child(8) {
  position: absolute;
  left: 12px;
  bottom: 0;
}

.burger span:nth-child(9) {
  right: 0;
  bottom: 0;
}

.burger.open {
  transform: rotate(180deg);
  cursor: pointer;
  transition: 0.2s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}

.burger.open span {
  border-radius: 50%;
  transition-delay: 200ms;
  transition: 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}

.burger.open span:nth-child(2) {
  left: 6px;
  top: 6px;
}

.burger.open span:nth-child(4) {
  left: 6px;
  top: 18px;
}

.burger.open span:nth-child(6) {
  right: 6px;
  top: 6px;
}

.burger.open span:nth-child(8) {
  left: 18px;
  bottom: 6px;
}

.menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}
.menu a {
  display: block;
  text-align: center;
  width: 100%;
}

.start {
  margin-top: 20px;
  display: flex;
  color: #796E9F;
  align-items: center;
}
.start p {
  padding-left: 10px;
}
