.feedback_contact {
    div {
        margin-top: 10px;
    }
    img {
        width: 20px;
        height: 20px;
        display: inline-block;
        vertical-align: middle;
    }
    span {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
}
